{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
    <h1>Welcome to home page</h1>
        <h4>Total Products: {{ total_products }}</h4>
        <ul>
            {% for product in products %}
                <li><a style="margin-right: 20px" href="{% url 'core:product_detail' product.pk %}">{{ product.name }}</a><small>Category: {{ product.category.name }}</small></li>
            {% endfor %}
        </ul>
        <hr>
    <a class="btn btn-primary" href="{% url 'core:add_product' %}">Add New Product</a>
{% endblock %}