{% extends 'base.html' %}

{% block title %}{{ product.name }}{% endblock %}
{% block content %}
    {% if product.image %}
        <img style="width: 200px" src="{{ product.image.url }}" alt="">
    {% endif %}
    <h3>Product: {{ product.name }}</h3>
    <p>Quantity: {{ product.quantity }}</p>
    <p>Price: {{ product.price }}</p>
    <small>Category: {{ product.category.name }}</small>
    <hr>
    <a class="btn btn-success mb-3" href="{% url 'core:update_product' product.pk %}">Update</a>
    <form action="{% url 'core:delete_product' product.pk %}" method="POST" onsubmit="return confirm('Are you sure you want to delete?')">
        {% csrf_token %}
        <button class="btn btn-danger">Delete</button>
    </form>
{% endblock %}